.hero-slide {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}


@media (max-width: 1024px) {
  .hero-slide {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 640px) {
  .hero-slide {
    padding-left: 20px;
    padding-right: 20px;
  }
}






